<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website 1</title>
    <link href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet">
</head>
<body>
<header>This is a header: {{ header }}</header>
{#<script>#}
{#    console.log('fetching...')#}
{#    fetch('/fetchtest').then(function (response) {#}
{#          return response.json();#}
{#      }).then(function (text) {#}
{#          console.log('GET response text:');#}
{#          console.log(text.name); // Print the greeting as text#}
{#          console.log(JSON.stringify(text))#}
{#          console.log('')#}
{#      });#}
{#</script>#}

<canvas id = "canvas" width="500" height="1000" style="border: 2px dashed"></canvas>
<button onclick="animate__c()">Play</button>
<p>Hello!</p>
<script type = "text/javascript" src="{{url_for('static', filename='canvas.js')}}"></script>
</body>
</html>